header{
    height: 50vh;
    background: url(https://github.com/KarenAmicone/melp/blob/master/background.jpg?raw=true);
    background-size: cover;
    display: grid;
    justify-items: right;
    align-items: center;
}

.header-container{
    padding-right: 15%;
    font-family: 'DM Serif Display', serif;
}

#scroll-up{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;     
}